[
  %% accept only TLSv1.2 connection
  {ssl, [{versions, ['tlsv1.2']}]},
  {rabbit, [
     %% disable non TLS connection
     {tcp_listeners, []},
     %% listen to standard TLS port 5671
     {ssl_listeners, [5671]},
     %% certificate configurations
     {ssl_options, [{cacertfile, "/etc/rabbitmq/mq_ca.crt"},
                    {certfile,   "/etc/rabbitmq/mq_server.crt"},
                    {keyfile,    "/etc/rabbitmq/mq_server.key"},
                    %% verify peer (client) certificate
                    {verify,     verify_peer},
                    %% always require certificate
                    {fail_if_no_peer_cert, true}]}
   ]}
].
